.footer {
    background-color: var(--mdc-theme-primary);
    color: white;
    padding: 16px;
    text-align: center;
    margin-top: auto;
}

.footer a {
    color: white;
    text-decoration: none;
}
